<% if(not != '') { %>
<div class="stepwizard">
  <div class="stepwizard-row">
    <div class="stepwizard-step">
      <button type="button" class="btn btn-default btn-circle"></button>
      <p>Matricule : <%- not.numéro %></p>
    </div>
    <div class="stepwizard-step">
      <button type="button" class="btn btn-primary btn-circle"></button>
      <p>Nom : <%- not.name %> </p>
    </div>
    <div class="stepwizard-step">
      <button type="button" class="btn btn-default btn-circle"></button>
      <p><%- not.Department %></p>
    </div>
    <div class="stepwizard-step">
      <button type="button" class="btn btn-default btn-circle"></button>
      <p>Groupe : 5</p>
    </div>
    <div class="stepwizard-step">
      <button type="button" class="btn btn-default btn-circle"></button>
      <p>Semestre :<%- not.semestre %></p>
    </div>
  </div>
</div>

<% } %>





<div class="container">
  <table>
    <thead>
      <tr>
        <th>Module</th>
        <th>TD</th>
        <th>TP</th>
        <th>Examen</th>
        <th>Ratrapage</th>

        <th>Coff</th>
        <th>Moyen Unit </th>

        <th> Moyen Module </th>
      </tr>
    </thead>
    <tbody>


      <% if(not != '') { %>
      <% notes.forEach(function(note, index){ %>

      <tr>
        <td><%- note.module %></td>
        <td><%- note.td %></td>
        <td><%- note.tp %></td>
        <td><%- note.examen %></td>
        <td><%- note.ratrapage %></td>
        <td><%- note.coff %></td>
        <td><%- note.Note * note.coff%></td>
        <td><%- note.Note  %></td>
      </tr>




      <% }) %>
      <% } %>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <% if(not != '') { %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Moyen G</td>
        <td><%- (not.Note * not.coff) / not.coff %></td>
      </tr>
      <% } %>




    </tbody>
  </table>
  <a href="/recour" class="bubbly-button">Recour</a>
</div>
<script src="css2/style2.js"></script>